*.json
*.pkl
*.png
*.svg
*.egg-info
/veqpy-*

build
docs
tests/demo
tests/benchmark
tests/**/*.png
tests/**/*.txt
tests/**/*.json
__pycache__
 
.backup
.claude
.codex
.ruff_cache
.venv
.vscode

uv.lock
TODO.md
